<section class="horizontal-form">
  {{#accordion-list showExpandAll=false as | al expandFn |}}
    <!-- driver title -->
    <div class="over-hr mb-20"><span>{{driverOptionsTitle}}</span></div>

    <!-- account access -->
    {{#accordion-list-item title="Account Access"
                           detail="API endpoint and credentials will be used to launch CloudSigma servers."
                           expandAll=expandAll
                           expand=(action expandFn)
                           expandOnInit=true
    }}
      <div class="row">
        <div class="col span-6">
          <label class="acc-label">Username{{field-required}}</label>
          {{input type="text"
                  class="form-control"
                  value=config.username
                  placeholder="Your CloudSigma user email"
          }}
        </div>
        <div class="col span-6">
          <label class="acc-label">Password{{field-required}}</label>
          {{input type="password"
                  class="form-control"
                  value=config.password
                  placeholder="Your CloudSigma password"
          }}
        </div>
      </div>
      <div class="row">
        <div class="col col-inline span-2">
          <label class="acc-label">Location</label>
        </div>
        <div class="col span-10">
          {{new-select class="form-control"
                       content=locationOptions
                       value=config.location
          }}
        </div>
      </div>
    {{/accordion-list-item}}

    <!-- This following contains the Name, Labels and Engine Options fields -->
    <div class="over-hr"><span>{{templateOptionsTitle}}</span></div>
    {{form-name-description model=model nameRequired=true}}
    {{form-user-labels initialLabels=labelResource.labels setLabels=(action 'setLabels') expandAll=expandAll expand=(action expandFn)}}
    {{form-engine-opts machine=model showEngineUrl=showEngineUrl}}
  {{/accordion-list}}
  <!-- errors produced by validate() in the component -->
  {{top-errors errors=errors}}
  <!-- Create and Cancel buttons -->
  {{save-cancel save=(action "save")
                cancel=(action "cancel")}}
</section>
